body {
  width: 100%;
  height: 600px;
  margin: 0px auto;
  font-family: helvetica;
}
.header {
  width: 100%;
  height:150px;
  /* position: relative; */
  background: #eeeeee;
  padding: 20px;
}

.header h1{
    margin-left: 400px;
    margin-top: 20px;
    font-weight: normal;
    font-size: 40px;
}
.content {
  width: 600px;
  height: 450px;
  background: #ffffff;
  margin: 0 auto;
  margin-top: 30px;
}
h1 {
  /* position: absolute; */
  margin: 0;
 padding-top: 20px;
 margin-left: 30px;
  font-size: 40px;
}
.login-top {
  height: 60px;
  border: 1px solid #e7e7e7;
  border-radius: 5px 5px 0 0;
  border-bottom: 0;
  background: #f5f5f5;
  margin: 0 auto;
}
.login-top a {
  margin-left: 60px;
  display: flex;
  font-size: 25px;
  margin-top: 15px;
}
.login-bot {
  border-radius: 0 0 5px 5px;
  height: 285px;
  border: 1px solid #e7e7e7;
  text-align: center;
}
input {
  width: 450px;
  height: 60px;
  font-size: 20px;
  margin-top: 22.5px;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
  padding-left: 30px;
}
button {
  width: 480px;
  height: 60px;
  font-size: 20px;
  margin-top: 22.5px;
  color: white;
  background-color: #5cb85c;
  border: white;
  border-radius: 3px;
}

button:hover{
    background-color: #00C700;
}
