header{
  background-color: lightgray;
}
header .container{
  position: relative;
  height: 120px;
  display: flex;
  justify-content : center;
  flex-direction: column;
}

header .group-btn-float {
  position: absolute;
  top: 30px;
  right: 30px;
}
.fa-shopping-cart{
  transform: rotateY(180deg);
}
.btn-warning{
background: #f0ad4e;
}
.badge-warning{
  background-color: #f0ad4e;
  color: white;
}

body {
    font-family: helvetica;
}

