<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart Page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<header>
    <div class="container">
        <h1>Cart</h1>
        <h5>All the selected products in your cart</h5>
    </div>
</header>
<div class="container mt-5">
    <div class="row justify-content-between">
        <a th:href="@{/clearCart}" class="btn btn-danger text-white">
            <i class="fas fa-times-circle mr-2" aria-hidden="true"></i>Clear Cart
        </a>
        <button class="btn btn-success text-white">
            <i class="fas fa-shopping-cart mr-2" aria-hidden="true"></i>Check out
        </button>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit price</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody >
            <tr th:each="cart : ${cartDAO}">
                <th th:text="${cart.productID}"></th>
                <td th:text="${cart.quantity}"></td>
                <td th:text="${cart.price}"></td>
                <td th:text="${cart.quantity * cart.price}"></td>
                <td>
                    <a th:href="@{'/removeCart/' + ${cart.productID}}" class="btn btn-danger text-white">
                        <i class="fas fa-times mr-2" aria-hidden="true"></i>Remove
                    </a>
                </td>
            </tr>
            <tr>
            <th></th>
            <td></td>
            <th>Grand Total</th>
            <th th:text="${amount}"></th>
            <td></td>
        </tr>

        </tbody>
    </table>
        <a th:href="@{/}" class="btn btn-success text-white">
            <i class="fas fa-arrow-circle-left mr-2" aria-hidden="true"></i>continue shopping
        </a>
</div>
</body>
</html>