<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="header">
    <h1>Mobile Store</h1>
</div>
<div class="content">
    <div class="login-top">
        <a>Please sign in</a>
    </div>
    <div class="login-bot">
        <form th:action="@{/login}" method="post">
            <input  name="userName" type="text" placeholder="User Name" /><br />
            <input  name="password" type="password" placeholder="Password" /><br />
            <button type="submit" >Login</button>
        </form>
    </div>
</div>
</body>
</html>