<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<header>
    <div class="container">
        <h1>Products</h1>
    </div>
</header>
<div class="container mt-5">
    <div class="row">
        <div class="col-5 mt-6">
<!--            <img src="${requestScope.DTO.img}" width="600px" height="400px" class="img-fluid my-5" alt="...">-->
            <img th:src="@{${productDetail.img}}" width="600px" height="400px" class="img-fluid my-5" alt="...">
        </div>
        <div class="col-7 mt-10 pl-5 pt-4">
            <h3 th:text="${productDetail.productName}"></h3>
            <a th:text="${productDetail.description}"> </a>
            <p> <b>Item code:</b> <span class="badge badge-warning" th:text="${productDetail.productID}"> </span></p>
            <p th:text="${productDetail.manufacturer}"> <b>manufacturer:</b> </p>
            <p> <b>category:</b> <span class="text-primary" th:text="${productDetail.category}"></span></p>
            <b>Available units in stock:</b>
            <p th:text="${productDetail.quantity}"> </p>
            <p style="font-size: 20px;" th:text="${productDetail.price} + ' USD'"> </p>
            <a th:href="@{/}" class="btn btn-success text-white"  value="Back"><i class="fas fa-arrow-circle-left mr-2" aria-hidden="true"></i>back</a>
            <a th:href="@{'/addToCart/' + ${productDetail.productID}}" class="btn btn-warning text-white" >
                <i class="fas fa-shopping-cart mr-2" aria-hidden="true"></i>Order now
            </a>
        </div>
    </div>
</div>
</body>
</html>