<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">


</head>
<body>
<header>
    <div class="container">
        <h1>Product</h1>
        <h5>All the available products in our store </h5>
        <form action="ViewCartController" method="POST">
            <div class="group-btn-float">
                <a th:href="@{/cart}" class="btn btn-light"><i class="fa fa-shopping-cart mr-2" aria-hidden="true"></i>View cart</a>
            </div>
        </form>
    </div>
</header>
<div class="container mt-3">
    <div class="row">
<!--        <c:forEach items="${requestScope.INFO}" var="dto">-->
            <div th:each="list : ${productList}" class="col-3 p-2">
                <form action="MainController" method="POST">
                    <div class="card">
                        <div class="card-body">
                            <h3 th:text="${list.productName}"></h3>
<!--                            <img alt="" th:src="${list.img}" class="img-fluid my-3" >-->
                            <img alt="" th:src="@{${list.img}}" class="img-fluid my-3" >
                            <p th:text="${list.description}"></p>
                            <p th:text="${list.price} + ' USD'"></p>
                            <p th:text="${list.quantity} + ' units in stock'"> </p>
                            <a th:href="@{'/showDetail/' + ${list.productID}}" class="btn btn-primary text-white" >
                                <i class="fas fa-info-circle mr-2" aria-hidden="true"></i>Detail
                            </a>
                            <a th:href="@{'/addToCart/' + ${list.productID}}" class="btn btn-warning text-white" >
                                <i class="fas fa-shopping-cart mr-2" aria-hidden="true"></i>Order now
                            </a>
                        </div>
                    </div>
                </form>
            </div>
<!--        -->
<!--        </c:forEach>-->
    </div>
</div>
</body>
</html>